#mc-sidebar {
    min-width: 250px;
    max-width: 250px;
    padding: 0.75rem;
    align-items: flex-start; 
    flex-direction: column;
    background-color: lighten($black, 96%);
    transition-duration: 0.4s;     
}
.sidebar__nav {
    flex-direction: column;
    flex-wrap: nowrap;       
    @include whBoth;
    & .nav {
        margin: 0;
        padding: 0;
        list-style: none; 
        &__item { 
            display: flex;
            width: 100%;
            margin-bottom:0.05rem;
            border-radius: 0.313rem;
            & .callout-toggle {
                transform: rotate(90deg);
                font-size: 20px;
                line-height: 0;
                padding: 0;
                display: flex;
                align-items: flex-start;
                color:$primary;
                letter-spacing: -1px;
                min-width: inherit;
                height: auto;
                border:none;
                background: none;
                display: none;
                &:after {
                    display: none;
                }
            } 
            &:hover .callout-toggle {
                display: block;
            }

            & .icon-hover {
                display: none;
            } 
            &:hover, &.is-active{
                background-color: $white;                
            }
            &:hover, &.is-active{
                color: $secondary;  
                .icon-default{
                    display: none;
                } 
                .icon-hover{
                    display: block;
                }          
                
            }
        }
        &__link {
            display: flex;
            align-items: center;
            width: 100%;  
            padding: 6px 10px;      
            overflow: hidden;        
            color: $default;
            text-decoration: none;
            &-icon{
                min-width: 18px;
                min-height: 18px;            
                overflow: hidden;
                position: relative;
                & img {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top:0; left:0;
                }                   
            }
            &-text{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-left: 12px;
                font-size: 12px;
                transition-duration: 0.4s;
            }
            
        }
                  
    }
    .nav__item-devider {
        border-bottom: solid 1px lighten($black, 80%);
        margin: 10px 0;
    }
    .navbottom {
        border-radius: 0.625rem;
        padding: 10px;
        margin-top: 10px;
        background: lighten($black, 90%);     
    }
    
}

.calloutnav { 
    border-radius: 6px;
    width: 300px;
    overflow: hidden;
    &__header {
        border-bottom: solid 1px lighten($black, 90%);
        padding:10px 15px;
        &-icon img{
            min-width: 25px;
            min-height: 25px;            
            margin-right: 10px;
        }
        &-title{
            font-size: 16px;
            font-weight: 600;
        }
        &-link{
             margin-left: auto;  
             color:$primary;           
        }
    }
    &__body {
        padding: 15px;
        & label {
            margin: 0 -8px;
        }
    }
    &__nav {
        list-style: none;
        padding: 0;
        margin: 0 -8px;
        a {
            text-decoration: none;
            color: $primary;
            padding: 4px 0;
            display: inline-block;
            &:hover {
                color: $default;
            }
        }
    }
    
}  
.index-module_main__1fmTB {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.index-module_track__BIi6w {
    right: 0 !important;
}
.sb-sidenav-toggled #mc-sidebar {
    min-width: 65px;
    max-width: 65px;        
    & .sidebar__nav .navbottom {
        padding:2px;
    }
    & .nav__link-text {
        opacity: 0;
        visibility: hidden;
        padding:0;
        width: 0;
    }
    & .mc-sidebar-drawer {
        display: block;
    }
}
.mc-sidebar-drawer {
    position: absolute;
    top: 0; 
    left: 0;
    width: 65px;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    display: none;
}