$primary: #4285f4;
$secondary: #ccab84;
$blue: #0A49AE;
$default: #555555;
$white: #ffffff;
$primarylight: #f5f9ff;
$orange: #FABC05;
$black : #000000;
$small: 11px;
$medium: 12px;
$large: 14px;